body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#user-list, #user-form {
    margin: 20px;
}

form {
    margin: 10px 0;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px;
}
